html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.roomform {
    width: 100%;
}
  
.tl {
    left: 0;
    top: 0;
	position: absolute;
}   
.tr {
    right: 0;
    top: 0;
	position: absolute;
}   
.bl {
    left: 0;
    bottom: 0;
	position: absolute;
}
.br {
    right: 0;
    bottom: 0;
	position: absolute;
}       

.panel {
	display: inline-block;
}

.panel p {
	margin: 0;
	text-align: center;
}

.wrapper, .draggable {
   text-align: center;
   background-color: transparent;
   -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.draggable {
	position: absolute;
}

.footer {
   text-align: center;
}

.rotatable {
    border: 1px solid black;
	text-align: center;
	position: relative;
}

.rotatable_shelf {
	background-color: rgb(180, 180, 180);
}

.rotatable_wall {
	background-color: rgb(90, 90, 90);
}

.text {
    width:100%;
    height:40%;
	top: 30%;
	text-align: center;
	position: absolute;
	
}

.text_input {
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	border: none;
	text-align: center;
}


#droppable {
	background-color: rgb(255, 220, 220);
	border: 1px solid black;
	width: 100px;
	height: 100px;
}


.ui-resizable-helper {
    border: none;
    background-color: none;
}


.rotate_shelf {
    background:url(rotate.png) no-repeat top right #ffffff;
	background-color: transparent;
    background-size: contain;
    cursor:pointer;
    z-index:1;
	position: relative;
	top: 0;
}

.rotate_wall  {
    background:url(rotate.png) no-repeat bottom right #ffffff;
	background-color: transparent;
    background-size: contain;
    cursor:pointer;
    z-index:1;
	position: relative;
	top: 0;
	float:left;
}


.remove_icon {
    background:url(remove.png) no-repeat bottom left #ffffff;
    background-size: contain;
	background-color: transparent;
    cursor:pointer;
    z-index:1;
	position: relative;
	left: 0;
}

